@import url('https://fonts.googleapis.com/css2?family=Joti+One&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Noto+Serif:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400&family=Poppins:ital,wght@0,100;0,200;0,300;1,100;1,200;1,300&family=Roboto:ital,wght@0,100;0,400;0,700;0,900;1,100;1,400&family=Sarabun:ital,wght@0,200;0,300;0,500;1,100;1,200;1,400;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');

*{
    padding: 0;
    box-sizing: border-box;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}
html{
    scroll-behavior: smooth;
}

.header{
    width: 100%;
    display: grid;
  
    
    grid-template-rows:10% 100%;
    background-color:white;
}
.projetcs_infor{
    gap: 30px;
    padding: 10px;
    padding-bottom: 20px;
    width: 100%;
    text-align: center;
    display: flex;
    height:300px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color:#54D28E;
}


.projetcs_infor h1{
    font-size: 1.9em;
    color: white;
}

.btn_cadastro{
    width: 130px;
    color: white;
    background-color: #E98C36;
    border-radius: 7px;
    border: none;
    padding: 10px;
}
.projetcs_infor h2{
    color: white;
}
.nav{
    width: 100%;
    display: grid;
    justify-content: center;
    align-items: center;
    
}

.ul{
    display: grid;
    width: 100%;
    place-items: center;
    gap: 20px;
    align-items: center;
    grid-template-columns: repeat(5, 4.5em);
}
.ul li{
    width: 5em;
    display: inline-block;
    
    text-align: center;
    
    transition: .4s;
    list-style: none;
    
}
.ul li:hover{
    padding: 5px;
    
    background-color: #66f5a8;

}

li a{
    text-decoration: none;
    color: black;
}
li i{
    background-color: #54D28E;
    padding: 10px;
    color: white;
    border-radius: 50%;
    margin-right: 20px;
}
.img img{
    width:250px;
    height: 250px;
    border-radius: 50%;
}
.main{
    align-items: center;
    height: 400px;
    padding-bottom: 20px;
    place-items: center;
    justify-content: center;
    background-color: rgb(226, 198, 198);
    display: grid;
    grid-template-rows: 1fr ;
    grid-template-columns:  60% 1fr;
}
.sobre{
    width: 400px;
   
    display: flex;
    flex-direction: column;
    
    
}

.ul_main li{
    list-style: none;
    padding: 10px;
}

.ul_main li span{
    font-weight: bold;
}

@media screen and (max-width:870px) {
    .main{
        padding-top: 30px;
        display: flex ;
        gap: 10px;
        height: 700px;
        flex-direction: column;
    }
    .sobre{
        gap: 10px;
        width: 350px;
    }
    .sobre h1{
        font-size: 1.9em;
    }
    .sobre p{
        font-size: .9em;
    }
    .img{
        margin-top: 40px;
    }
    .img img{
        border-radius: 50%;
        width: 200px;
        height: 200px;
    }
    .projetcs_infor h1{
        font-size: 1.25em;
    }
    .projetcs_infor h2{
        font-size:1em;
    }
    .ul{
        gap: 2px;
        grid-template-columns: repeat(5, 3em);
    }
    .ul li{
        width:4.5em;
        font-size: .6em;
    }
    .ul_main li{
        padding: 5px;
    }

    .text-footer{
        height: 100px;
        width: 100px;
    }
}
.section-card{
    width: 100%;
    padding: 20px 0 20px 0;
    flex-wrap: wrap;
    height:auto;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background-color: #F57025;
    display: flex;
}

.inform-card p{
    text-align: center;
}

.icones{
    display: flex;
    gap: 15px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.icones span{
    text-align: center;
    width: 50px;
    background-color: #20D37D;
    border-radius: 50%;
    transition: .2s;
    padding: 10px;
    display: inline-block;
}
.icones span:hover{
    background-color: #32d57e;
    color: white;
}
.icones h2{
    margin-bottom: 20px;
}


.card{
    width: 300px;
  
    display: flex;
    padding: 20px;
    border-radius: 30px;
    background-color: white;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border:2px solid white;
    height: 280px;
}

.footer{
    width: 100%;
    height: 400px;
    background-color:#f6cdcd;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.span-icone{
    
    display: inline-block;
    width: 20px;
    padding: 10px;
    height: 20px;
    border-radius: 50%;
    background-color: rgb(188, 32, 32);
}
.text-footer{
    text-align: center;
    padding: 10px;
    height: 200px;
    display: flex;
    gap: 12px;
    justify-content: center;
    align-items: center;
    width: 300px;
}
.text-footer p{
    font-family: 'Itim', cursive;
    text-align: center;
}
.icone-footer{
   
    color:  #20D37D;
    font-size: 1.9em;
}